commands:
  create_post_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01init-ebenvname.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -x
      CONTAINER_CONFIGURATION=/opt/elasticbeanstalk/deploy/configuration/containerconfiguration
      EB_ENV_NAME=$(grep -oP 'EB_ENV_NAME=\K([A-Za-z0-9]*-[A-Za-z0-9]*)' $CONTAINER_CONFIGURATION)
      echo $EB_ENV_NAME > /var/app/current/EB_ENV_NAME

      if [ ! -f /etc/hostname ]; then
         echo $EB_ENV_NAME-$(ec2-metadata --instance-id | cut -d' ' -f2) > /etc/hostname
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/01init-register-to-papertrail.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/post/01init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -x
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/post/02init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -x
      cd /var/app/current

      echo "127.0.0.1     $HOSTNAME" >> /etc/hosts
      source /etc/sysconfig/supervisord

      cp supervisord.conf /etc/supervisord.conf

      ./replace_zk_hosts.sh

      cp server.properties $KAFKA_CONFIG_FILE

      ulimit -n 65535
      service supervisord restart
      supervisorctl start all

      echo "updated configs"


  "/opt/elasticbeanstalk/hooks/appdeploy/post/03init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -x
      echo "stopping httpd if exists"
      service httpd stop || echo "httpd is stopped"


  "/opt/elasticbeanstalk/hooks/appdeploy/post/04init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -x
      exit 0

  "/opt/elasticbeanstalk/hooks/appdeploy/post/05init.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -x
      exit 0
